<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Home</title>
</head>
<body>
    <a href="{{url_for('about')}}">Sobre</a>
    <h2>Lista de Visitantes</h2>
    <ul>
        {% for user in users%}
        <li>{{user[0]}} - {{user[1]}}</li>
        {%endfor%}
    </ul>
    <a href="{{url_for('register')}}">Registrar-se</a>
</body>
</html>